# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log
# Ignore override files (can be used to customize without committing)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan output file
plan.out
